<template>
    <div>
        <header class="header--admin pt-4 pb-3 text-center">
            <router-link class="display-4" to="/admin/">Dashboard</router-link>
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar--admin col-2 ml-3 mt-2 pt-4">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <router-link class="nav-link active" to="/admin/products">Produits</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </nav>
                <main class="body--admin col-8 ml-4 mt-2">
                    <nuxt/>
                </main>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        head: {
            "link": [
                {rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'},
                {rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Raleway:100,400'}
            ]
        }
    }

</script>

<style>
    html, body {
        font-family: 'Raleway', sans-serif !important;
        background-color: #f5f8fa;
        min-height: 800px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    a:hover {
        text-decoration: none;
    }

    /*.header--admin {*/
        /*background-color: white;*/
        /*border: #5e5e5e;*/
        /*border-radius: 10px;*/
    /*}*/

    /*.navbar--admin {*/
        /*background-color: white;*/
        /*min-height: 500px;*/
    /*}*/

    /*.body--admin {*/
        /*background-color: white;*/
    /*}*/

    .navbar--admin a {
        font-size: 20px;
    }
</style>