<template>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light position-relative">
            <router-link class="navbar-brand" to="/">BlackMoon</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active position-relative">
                        <router-link class="" to="/products">
                        <span class="btn btn-link nav-link" @mouseover="showNavCat = true; showBand = true" @mouseout="showNavCat = false">Nos bracelets</span>
                        </router-link>
                        <transition name="cart-slide">
                            <div @mouseover="showBand = true" @mouseout="showBand = false">
                                <band v-if="showNavCat || showBand">
                                </band>
                            </div>
                        </transition>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/about">A propos</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/contact">Contact</router-link>
                    </li>
                </ul>
                <router-link class="nav-link" to="login">Login</router-link>
                <button class="btn btn-danger my-2 my-sm-0" @click="show = !show">Panier</button>
            </div>
        </nav>
        <transition name="cart-slide">
            <cart v-if="show"></cart>
        </transition>
        <nuxt/>
    </header>
</template>

<script type="text/babel">
    import Cart from '~/components/Cart.vue'
    import Band from '~/components/Band.vue'

    export default {
        head: {
            "link": [
                {rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'}
            ]
        },
        data() {
            return {
                show: false,
                showNavCat: false,
                showBand: true
            }
        },
        components: {
            Cart,
            Band
        }

    }
</script>

<style>
    html {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
    }

    .navbar-brand {
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .btn-link {
        text-decoration: none;
    }

    .jumbotron {
        background: none;
        color: white;
    }

    .button--green {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #3b8070;
        color: #3b8070;
        text-decoration: none;
        padding: 10px 30px;
    }

    .button--green:hover {
        color: #fff;
        background-color: #3b8070;
    }

    .button--grey {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #35495e;
        color: #35495e;
        text-decoration: none;
        padding: 10px 30px;
        margin-left: 15px;
    }

    .button--grey:hover {
        color: #fff;
        background-color: #35495e;
    }

    .cart-slide-enter-active {
        transition: all .5s ease;
    }

    .cart-slide-leave-active {
        transition: all .5s ease;
        /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
    }

    .cart-slide-enter, .cart-slide-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
