<template>
    <div>
        <product-dash :product="product" v-for="product in products" :key="product.id"></product-dash>
    </div>
</template>

<script type="text/babel">
    import productDash from '~/components/productDash.vue'

    export default  {
        layout: 'admin',
        data () {
            return {
                products: [{
                    id: 1,
                    name: 'cerbere',
                    price: 38
                },
                    {
                        id: 2,
                        name: 'medusa',
                        price: 36
                    }]
            }
        },
        components: {
            productDash
        }
    }
</script>