<template>
    <main>
        <section class="hero--homepage">
            <!--<div class="hero__content">-->
            <!--<h1>Bracelet nautique, Alpins</h1>-->
            <!--</div>-->
            <div class="jumbotron text-center">
                <div class="container w-50">
                    <h1 class="display-4">Bracelet nautique et alpins</h1>
                    <p class="lead text-muted">Dans notre boutique, nous proposons dans produits de qualité pour des
                        amoureux des bracelets fait main sur le théme de la mer et de la montagne</p>
                </div>
            </div>
        </section>
        <section class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 m-5 m-md-0 text-center">
                    <img class="img-fluid" src="http://lorempicsum.com/futurama/700/580/8" alt="">
                </div>
                <div class="col-12 col-md-6 m-2 m-md-0">
                    <img class="mb-3 img-fluid" src="http://lorempicsum.com/futurama/700/280/1" alt="">
                    <img class="img-fluid" src="http://lorempicsum.com/futurama/700/280/3" alt="">
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    import Cart from '~/components/Cart.vue'

    export default {
        data() {
            return {
                show: false
            }
        },
        components: {
            Cart
        }
    }
</script>

<style>
    /*.container {*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*}*/

    .hero--homepage {
        background-image: url("http://lorempicsum.com/futurama/1600/500/3");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
    }

    .title {
        font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
        display: block;
        font-weight: 300;
        font-size: 100px;
        color: #35495e;
        letter-spacing: 1px;
    }

    .subtitle {
        font-weight: 300;
        font-size: 42px;
        color: #526488;
        word-spacing: 5px;
        padding-bottom: 15px;
    }

    .links {
        padding-top: 15px;
    }

</style>
