<template>
    <div>
        <!--<product :product="product"></product>-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                products: []
            }
        },
        name: 'products',
        props: {

        }
    }
</script>

