<template>
    <div class="band p-3">
        <div class="container mt-3">
            <router-link to="/catalog" class="lead font-weight-bold mb-3">Tous nos bracelet</router-link>
            <router-link to="" class="lead">Bracelet ancre</router-link>
            <router-link to="/catalog" class="lead">Bracelet queue de baleine</router-link>
        </div>
    </div>

</template>

<script type="text/babel">
    export default {
        name: 'Band',
    }
</script>


<style>
    .band {
        margin-top: 30px;
        background-color: white;
        position: absolute;
        width: 300px;
        height: 300px;
        top: 15px;
        left: 0;

        border-radius: 10px;
    }
</style>
