<template>
    <div class="cart">
        <h1>Panier</h1>

    </div>

</template>

<script type="text/babel">
    export default {
        name: 'cart'
    }
</script>


<style>
    .cart {
        background-color: #b2bec3;
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: 0;
    }
</style>
