<template>
    <div class="d-flex align-items-center justify-content-around">
        <h1>{{product.name}}</h1>
        <h2>{{product.price}}€</h2>
        <div class="d-flex">
            <div class="position-relative">
                <button @click="showEdit = !showEdit" class="btn position-relative">Modifier</button>
                <transition>
                    <div class="edit-product position-absolute" v-if="showEdit">
                            <div class="form-group">
                                <label for="nameProduct">Name</label>
                                <input class="form-control" id="nameProduct" v-model="message">
                            </div>
                            <button class="btn" @click="editProduct">Modifier</button>
                    </div>
                </transition>
            </div>
            <button class="btn btn-danger ml-4" @click="del">Supprimer</button>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'productDash',
        props: {
            product: Object
        },
        data() {
            return {
                showEdit: false,
                message: ''
            }
        },
        methods: {
            editProduct() {
                this.product.name = this.message
            },
            del () {
                console.log(this)
                console.log()
            }
        }

    }
</script>

<style>
    .edit-product {
        z-index: 1;
        display: inline;
        padding: 15px;
        top: 45px;
        left: 0;
        width: 300px;
        background-color: white;
    }
</style>